*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    width: 100%;
    height: 10em;
}




.seccion1 {
    width: 100%;
    height: 5em;
    background: linear-gradient(180deg, #00AEEF, #9B5DE5);
}
.header{
    background-color: #2d2f3e;
    width: 100%;
    height: 3.125em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img{
    width: 25%;
    height: 100%;
}
.menu{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.img img{
    object-fit: cover;
    height: 100%;
}
.menu a{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 1em 1em;
}
.menu a:hover{
    background:linear-gradient(180deg, #00AEEF, #9B5DE5) ;
    color: black;
}




.seccion2{
    width: 100%;
    height: calc(125vh - 20em);
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contenido2{
    width: 80%;
    height: 80%;
}
.contenidoimg{
    width: 80%;
    height: 80%;
    overflow: hidden;
}
.contenidoimg img{
    width: 100%;
}
.enlace{
    font-size: 1.25em;
    text-align: center;
}
.enlace a{
    text-decoration: none;
    color: white;
    background-color: #00AEEF;
    width: 3em;
    height: 2em;
    border: none;
    border-radius: 5px;
}
.texto1{
    font-size: 25px;
}
.texto2 h1{
    font-size: 40px;
}
.texto2 li{
    font-size: 25px;

}




.seccion3{
    width: 100%;
    height: 10em;
    background:#2d2f3e;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seccion3 hr{
    width: 100%;
    height: 5%;
    border: none;
    background: linear-gradient(90deg, #00AEEF, #9B5DE5);
}
.texto3 a{
    text-decoration: none;
    color: white;
}
.texto3 h3{
    color: white;
}
.contenido3{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer{
    width: 100%;
    height: 20%;
    background-color: #2d2f3e;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: #555555 1px solid;
    color:#fff;
    padding: 0 2em;
}
.logo2 img{
    object-fit: cover;
    height: 100%;
}
.logo2{
    width: 50%;
}
.texto3{
    width: 30%;
}
.politicas{
    color: white;
    text-decoration: none;
    margin-left: 2em;
}
.empresa{
    color: white;
    text-decoration: none;
}