*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #26A8E0, #8A5DEB);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    border: 2px solid black;
    width: 470px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.container-form{
    border: 2px solid green;
    width: 100%;
}

.container-form h2{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
}

.container-input{
    padding: 0;
    margin: 30px 40px;
    position: relative;
    border-bottom: 2px solid #adadad;
}

.container-input input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.container-input label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

.container-input input:focus ~ label{
    top: -5px;
    color: #26A8E0;
}



.recordar p{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


